<form (submit)="Onsubmit()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input formControlName="nombre" matInput>
        <mat-error>El campo nombre es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Fecha de nacimiento</mat-label>
        <input formControlName="fechaNacimiento" matInput [matDatepicker]="picker"/>
        <mat-datepicher-toggle matSuffix for="picker"></mat-datepicher-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>   
    <app-input-img [urlImagenActual]="modelo?.foto" (archivoSeleccionado)="archivoSeleccionado($event)"></app-input-img>
    <app-nex-markdown (changeMarkdown)="cambioMardown($event)"></app-nex-markdown>
    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar Cambios
        </button>
        <a mat-stroked-button color="warn" routerLink="/actores">
         Cancelar
         </a>
    </div>
</form>
