<form (submit)="Guardar_genero()" [formGroup]="form" >
    <mat-form-field appearance="outline">
        <mat-label>nombre*</mat-label>
        <input formControlName="nombre" matInput>
        <mat-error *ngIf="form.invalid">{{ obtenerErrorNombre()}}</mat-error>
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar cambios
        </button>
        <a mat-stroked-button color="danger" routerLink="/generos">
            Cancelar
        </a>
    </div>
</form>

