<h2>Buscar Peliculas</h2>

<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input  formControlName="titulo" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Genero</mat-label>
        <mat-select formControlName="generoId" >
           <mat-option *ngFor="let genero of generos" [value]="genero.id">{{genero.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <mat-checkbox formControlName="proximoEstrenos">
            Proximos Estrenos
        </mat-checkbox>
    </div>
    <div>
        <mat-checkbox formControlName="enCines">
            En cines
        </mat-checkbox>
    </div>
    <div class="content-limpiar">
        <button mat-flat-button (click)="limpiar()" color="warn">Limpiar</button>
    </div>
</form>
<app-list-movies  [movies]="peliculas"></app-list-movies>
