<form (submit)="onSubmit()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input  formControlName="nombre" matInput />
        <mat-error *ngIf="form.invalid">El campo nombre es requerido</mat-error>
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary" disabled="form.invalid"></button>
        <a mat-stroked-button  routerLink="/cines">Cancelar</a>
    </div>
</form>
