.movie-container{
    border: 1px solid black;
    margin-bottom: 1rem;
    padding: 1rem;
}
.img-loading{
    width: 20rem;
    height: 12rem;
}
.error{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;;
}
.contenedor{
    margin: 20px;
}
h2{
    color: blue;
}