 <ng-container *ngIf="movies?.length > 0">
     <div class=movies-container>
    <div
      *ngFor="let pelicula of movies; let index = index"
      class="movie-container"
    >
    <a>
      <img class="poster-movies" [src]="pelicula.poster" alt="Poster">
    </a>
    <p>
      <a >{{pelicula.titulo}}</a>
    </p>
    <div>
      <a mat-flat-button color="primary">
        editar
      </a>
      <button mat-flat-button color="warn" type="button">
        Eliminar
      </button>
    </div>
    </div>
     </div>  
    </ng-container>
  