.movies-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.movie-container{
    margin-right: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}
p{
    max-width: 225px;
    height: 44px;
    font-size: 15px;
    font-weight: bold;
}
image{
    width: 225px;
    height: 300px;
}
button{
    margin-left: 1rem;
}
.poster-movies{
    width: 225px;
    height: 300px;
}