<mat-toolbar color="primary">
<span>
    <a routerLink="" mat-button>
        <mat-icon>local_movies</mat-icon>Angular peliculas
    </a>
</span>
<div>
    <a mat-button routerLink="peliculas/buscar">
        <mat-icon>search</mat-icon>Buscar Peliculas
    </a>
</div>
<span>
    <a routerLink="generos" mat-button>Generos</a>
</span>
<span>
    <a routerLink="actores" mat-button>Actores</a>
</span>
<span>
    <a routerLink="cines" mat-button>Cines</a>
</span>
<span>
    <a routerLink="peliculas/crear" mat-button>Crear peliculas</a>
</span>
</mat-toolbar>
