<mat-tab-group>
    <mat-tab label="Editar">
        <mat-form-field appearance="fill">
            <mat-label>Biblografia</mat-label>
            <textarea matInput (input)="inputTextArea($event.target.value)"></textarea>
        </mat-form-field>
    </mat-tab>
    <mat-tab label="Preview">
            <markdown class="markdown"  [data]="contenidoMarkdown" ngPreserveWhitespaces></markdown>
    </mat-tab>
</mat-tab-group>
